.newsContainer{
    display:grid;
    height: 80vh;
    grid-template-columns:3fr 5fr;
    gap: 1rem;
    box-sizing: border-box;
}

.mainSimple{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
    text-align: justify;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.mainSimple p{
    font-size: 1rem;


}

.textBelow{
    font-size: 10px;
}

.mainSimple h2{
    font-size: medium;
}

/* ------------------------------ */


.mainPreview{
    height: 100%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    

}


.item{

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    
    
}
.item div{
    font-size: 10px;
    text-align: justify;
    margin:10px;
}


.item p, .item a, {
    padding:0 20px 0 10px;
}

.item a{
    text-align:left;
}



.item a:visited, .item a:link{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}