@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Noto+Sans+JP:wght@100&family=Rampart+One&display=swap');

.App {
  
  display: grid;
  gap:10px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15% 85%;
  margin-top: 10px;
  
  text-align: center;

  width: 90%;
  height: 100%;

  
  
}

.logo {
  height: 15vh;
  margin:0px;
  pointer-events: none;
  background: transparent;
}


.Logo-Data{

  animation: Logo-DataTrans 1s ease-in-out;
  display:flex;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
  /* padding:5px; */
  box-sizing: border-box;
  

}
.Logo-Data p{
  font-family: 'Josefin Slab', serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Rampart One', cursive;
}

@media (max-width:800px){
  .Logo-Data{
    flex-direction: column;
    justify-content: center;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Logo-DataTrans {
  
  from{
    transform: translateX(-900px) rotate(0deg);
  }
  to{
    transform: translateX(0px) rotate(360deg);
  }
}



